:root {
  --color-1: #495867;
  --color-2: #577399;
  --color-3: #bdd5ea;
  --color-4: #f7f7ff;
  --color-5: #fe5f55;
  --color-bg: #f2f2f2;
  --color-btn-1: #52b788;
  --color-btn-2: #ef476f;
}

* {
  margin: 0;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 4rem;
}

ul {
  list-style: none;
  padding: 0;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.home-header-main {
  font-family: "Bebas Neue", cursive;
  font-weight: 400;
  font-size: 4rem;
  letter-spacing: 0.125rem;
}

.home-header-desc {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  margin-top: -0.75rem;
}

.home-links {
  margin-top: 4rem;
}

.tricks-link {
  color: #fff;
  padding: 1rem 2rem;
  background-color: #495867;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.home-icons {
  width: 2rem;
  margin-top: 2rem;
}

.nav-icons {
  width: 2rem;
}

.ig-logo {
  margin-right: 0.25rem;
}

.github-logo {
  margin-left: 0.25rem;
}

.logo {
  font-family: "Bebas Neue", cursive;
  color: #000;
  letter-spacing: 0.0525rem;
  font-size: 2rem;
}

.socials {
  display: flex;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 0.25rem;
  margin: 0 1rem 0 1rem;
  padding: 2rem;
}

.counters {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.counter {
  padding: 1rem;
  text-align: center;
}

.btn {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  text-decoration: none;
}

.random {
  background-color: var(--color-2);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.reset {
  background-color: var(--color-5);
  border-radius: 0.25rem;
  margin: 1rem 2rem;
}

.reset-score {
  background-color: var(--color-1);
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.player {
  text-align: center;
  background: none;
  font-size: 1.25rem;
  border: none;
  outline: none;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  width: 100%;
}

.plus {
  background-color: var(--color-btn-1);
}

.minus {
  background-color: var(--color-btn-2);
}

.trick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.list-container {
  min-height: 100vh;
}

.dropdown {
  font-family: "Roboto Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem;
  text-align: center;
  text-align-last: center;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.dropdown:focus,
.dropdown:hover {
  outline: none;
}

.error-container {
  justify-content: center;
}

@media (max-width: 550px) {
  .dropdown {
    width: 80vw;
    font-size: 1rem;
  }

  .trick-name {
    font-size: 1rem;
  }

  .scoreboard-text {
    font-size: 1rem;
  }

  .player {
    font-size: 1rem;
    margin: 0.125rem;
  }

  .score {
    font-size: 1rem;
    margin: 0.25rem;
  }
}

@media (max-width: 350px) {
  .scoreboard-text {
    display: none;
  }

  .nav-links {
    padding: 1rem 2rem;
  }

  .trick {
    padding: 1rem;
  }

  .scoreboard {
    padding: 0 1rem 1rem 1rem;
  }

  .reset-score {
    margin-bottom: 0;
  }
}
